In [1]:
%cd ..
%pwd

/Users/areshytko/repos/temp/productivity-dashboard

'/Users/areshytko/repos/temp/productivity-dashboard'

In [2]:
from dashboard.gheets import ManualFlow, pull_sheet_data, get_data
import pandas as pd
import numpy as np
import json

In [3]:
flow = ManualFlow()
url = flow.get_url()
with open('notebooks/url.json', 'w') as wf:
    json.dump(url, wf)

In [4]:
flow.put_code("4/1AY0e-g4MF6Ybonk-Qai_7F8K31zJ4cSUYy72GE_S4V2gvoLyGgfHywr2iyE")

In [4]:
creds = flow.get_google_token()

In [5]:
creds

## Get the data

In [6]:
from dashboard.load import Pomodoros

In [7]:
spreadsheet_id = '1ushlABGAcGa9982wRDSEXz3bKjnaYqLE7Rl6A5w1jAg'
range_name = 'pomodoros-2021!B:G'
data = get_data(token=creds, spreadsheet_id=spreadsheet_id, range_name=range_name, merged_cols=['Week', 'Date'])

In [8]:
data

,Week,Date,Activity,Comment,Pomodoros,Planned
0,2,"Wednesday, January 6, 2021",Learn/System Design,None,2,4
1,2,"Wednesday, January 6, 2021",Learn/Golang,None,2,2
2,2,"Wednesday, January 6, 2021",Learn/Graph Algorithms,None,2,2
3,2,"Wednesday, January 6, 2021",Learn/Personal Development,None,1,1
4,2,"Wednesday, January 6, 2021",Do/Algorithms,None,None,2
...,...,...,...,...,...,...
326,10,"Sunday, March 21, 2021",Learn/System Design,None,None,None
327,10,"Sunday, March 21, 2021",Learn/ML,None,None,None
328,10,"Sunday, March 21, 2021",Learn/Graph Algorithms,None,None,None
329,10,"Sunday, March 21, 2021",Do/Work,None,None,None
330,10,"Sunday, March 21, 2021",Learn/Personal Development,None,None,None

In [9]:
pm = Pomodoros.convert(data)
pm.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Week       331 non-null    int16
 1   Date       331 non-null    datetime64[ns]
 2   Activity   331 non-null    object
 3   Comment    75 non-null     object
 4   Pomodoros  100 non-null    float64
 5   Planned    225 non-null    float64
dtypes: datetime64[ns](1), float64(2), int16(1), object(2)
memory usage: 13.7+ KB

### Raw Data

In [15]:
spreadsheet_id = '1ushlABGAcGa9982wRDSEXz3bKjnaYqLE7Rl6A5w1jAg'
range_name = 'pomodoros-2021!B:G'
data = pull_sheet_data(creds, spreadsheet_id, range_name)

In [16]:
lens = set()
for x in data:
    lens.add(len(x))
print(lens)

{3, 4, 5, 6}

In [17]:
data[0]

['Week', 'Date', 'Activity', 'Comment', 'Pomodoros', 'Planned']

In [18]:
df = pd.DataFrame(data[1:], columns=data[0])
df[['Week', 'Date']] = df[['Week', 'Date']].replace([''], [None]).ffill()
df.head()

,Week,Date,Activity,Comment,Pomodoros,Planned
0,2,"Wednesday, January 6, 2021",Learn/System Design,,2,4
1,2,"Wednesday, January 6, 2021",Learn/Golang,,2,2
2,2,"Wednesday, January 6, 2021",Learn/Graph Algorithms,,2,2
3,2,"Wednesday, January 6, 2021",Learn/Personal Development,,1,1
4,2,"Wednesday, January 6, 2021",Do/Algorithms,,,2

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Week       220 non-null    object
 1   Date       220 non-null    object
 2   Activity   220 non-null    object
 3   Tags       178 non-null    object
 4   Comment    172 non-null    object
 5   Pomodoros  169 non-null    object
 6   Planned    163 non-null    object
dtypes: object(7)
memory usage: 12.2+ KB

In [28]:
df.Planned.fillna(0).astype(np.int32)

0      4
1      2
2      2
3      1
4      2
      ..
215    0
216    0
217    0
218    0
219    0
Name: Planned, Length: 220, dtype: int32

In [31]:
pd.to_datetime(df.Date)

0     2021-01-06
1     2021-01-06
2     2021-01-06
3     2021-01-06
4     2021-01-06
         ...
215   2021-02-14
216   2021-02-14
217   2021-02-14
218   2021-02-14
219   2021-02-14
Name: Date, Length: 220, dtype: datetime64[ns]

In [32]:
df.Date = pd.to_datetime(df.Date)
df.dtypes

Week                 object
Date         datetime64[ns]
Activity             object
Tags                 object
Comment              object
Pomodoros            object
Planned              object
dtype: object

In [35]:
x = df.dtypes['Week']
x

dtype('O')

In [36]:
type(x)

numpy.dtype

In [37]:
np.datetime64

numpy.datetime64

In [38]:
df.fillna?

Signature:
df.fillna(
    value=None,
    method=None,
    axis=None,
    inplace=False,
    limit=None,
    downcast=None,
) -> 'Optional[DataFrame]'
Docstring:
Fill NA/NaN values using the specified method.

Parameters
----------
value : scalar, dict, Series, or DataFrame
    Value to use to fill holes (e.g. 0), alternately a
    dict/Series/DataFrame of values specifying which value to use for
    each index (for a Series) or column (for a DataFrame).  Values not
    in the dict/Series/DataFrame will not be filled. This value cannot
    be a list.
method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use next valid observation to fill gap.
axis : {0 or 'index', 1 or 'columns'}
    Axis along which to fill missing values.
inplace : bool, default False
    If True, fill in-place. Note: this will modify any
    other views on this object (e.g., a no-copy slice for a column in a
    DataFrame).
limit : int, default None
    If method is specified, this is the maximum number of consecutive
    NaN values to forward/backward fill. In other words, if there is
    a gap with more than this number of consecutive NaNs, it will only
    be partially filled. If method is not specified, this is the
    maximum number of entries along the entire axis where NaNs will be
    filled. Must be greater than 0 if not None.
downcast : dict, default is None
    A dict of item->dtype of what to downcast if possible,
    or the string 'infer' which will try to downcast to an appropriate
    equal type (e.g. float64 to int64 if possible).

Returns
-------
DataFrame or None
    Object with missing values filled or None if ``inplace=True``.

See Also
--------
interpolate : Fill NaN values using interpolation.
reindex : Conform object to new index.
asfreq : Convert TimeSeries to specified frequency.

Examples
--------
>>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
...                    [3, 4, np.nan, 1],
...                    [np.nan, np.nan, np.nan, 5],
...                    [np.nan, 3, np.nan, 4]],
...                   columns=list('ABCD'))
>>> df
     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

Replace all NaN elements with 0s.

>>> df.fillna(0)
    A   B   C   D
0   0.0 2.0 0.0 0
1   3.0 4.0 0.0 1
2   0.0 0.0 0.0 5
3   0.0 3.0 0.0 4

We can also propagate non-null values forward or backward.

>>> df.fillna(method='ffill')
    A   B   C   D
0   NaN 2.0 NaN 0
1   3.0 4.0 NaN 1
2   3.0 4.0 NaN 5
3   3.0 3.0 NaN 4

Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
2, and 3 respectively.

>>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
>>> df.fillna(value=values)
    A   B   C   D
0   0.0 2.0 2.0 0
1   3.0 4.0 2.0 1
2   0.0 1.0 2.0 5
3   0.0 3.0 2.0 4

Only replace the first NaN element.

>>> df.fillna(value=values, limit=1)
    A   B   C   D
0   0.0 2.0 2.0 0
1   3.0 4.0 NaN 1
2   NaN 1.0 NaN 5
3   NaN 3.0 NaN 4
File:      ~/.pyenv/versions/3.7.3/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

## Get the catalog

In [23]:
from dashboard.load import ActivitiesCatalog

In [24]:
spreadsheet_id = '1ushlABGAcGa9982wRDSEXz3bKjnaYqLE7Rl6A5w1jAg'
range_name = 'activities-catalog!B:E'
data = get_data(token=creds, spreadsheet_id=spreadsheet_id, range_name=range_name)

In [25]:
data

,Activity,Tags,Active,Comment
0,Learn/Graph Algorithms,"learn,hobby,green",TRUE,obsidian://open?vault=Zettelkasten&file=2020-1...
1,Learn/Personal Development,"learn,personal",TRUE,None
2,Personal Dashboard,"do,hobby,green",TRUE,obsidian://open?vault=Zettelkasten&file=%F0%9F...
3,Learn/Data Engineering,"learn,career,green",TRUE,obsidian://open?vault=Zettelkasten&file=%F0%9F...
4,Learn/How to Write,"green,learn,personal",TRUE,obsidian://open?vault=Zettelkasten&file=%F0%9F...
5,Learn/Medium Articles,"learn,green",TRUE,None
6,Do/Work,"career,red",TRUE,None
7,Do/Trend Detection,"do,green,hobby",FALSE,obsidian://open?vault=Zettelkasten&file=%F0%9F...
8,Do/Algorithms,"do,career,green",FALSE,None
9,Learn/System Design,"learn,career,green",FALSE,None
10,Learn/Golang,"learn,career,green",FALSE,None
11,Learn/Algorithms,"learn,career,green",FALSE,None
12,Do/Data Engineering,"do,career,green",FALSE,None
13,Do/Graph Analytics,"do,hobby,green",FALSE,None
14,Do/Handson ML,"do,hobby,green",FALSE,obsidian://open?vault=Zettelkasten&file=%F0%9F...
15,Planning,None,FALSE,None
16,Utilities,red,FALSE,"утилитарные дела, которые нужно сделать"
17,Learn/ML,"green,learn,hobby",FALSE,obsidian://open?vault=Zettelkasten&file=%F0%9F...

In [26]:
data.Active = data.Active.map(lambda x: x == 'TRUE')

In [27]:
data.Tags = data.Tags.map(lambda x: x.split(',') if x else [])

In [28]:
activities = data.to_dict(orient='records')

In [29]:
activities = [{k:v for k, v in x.items() if v is not None } for x in activities]

In [30]:
activities = ActivitiesCatalog(activities)

## Merge data

In [31]:
pm.df.head()

   Week       Date                    Activity Comment  Pomodoros  Planned
0     2 2021-01-06         Learn/System Design    None        2.0      4.0
1     2 2021-01-06                Learn/Golang    None        2.0      2.0
2     2 2021-01-06      Learn/Graph Algorithms    None        2.0      2.0
3     2 2021-01-06  Learn/Personal Development    None        1.0      1.0
4     2 2021-01-06               Do/Algorithms    None        NaN      2.0

In [32]:
activity_dict = {x['Activity']: x['Tags'] for x in activities.data}

In [33]:
tags = pm.df.Activity.map(lambda x: activity_dict[x])

In [34]:
tags

0      [learn, career, green]
1      [learn, career, green]
2       [learn, hobby, green]
3           [learn, personal]
4         [do, career, green]
                ...
326    [learn, career, green]
327     [green, learn, hobby]
328     [learn, hobby, green]
329             [career, red]
330         [learn, personal]
Name: Activity, Length: 331, dtype: object

## Create boolean dataframe

In [35]:
from typing import List, Any

def boolean_df(item_lists: pd.Series, unique_items: List[Any]) -> pd.DataFrame:
    bool_dict = {}
    
    for item in unique_items:
        bool_dict[item] = item_lists.apply(lambda x: item in x)
    return pd.DataFrame(bool_dict)

In [12]:
u = ['foo', 'bar', 'buz']
x = pd.Series([['foo', 'bar', 'buz'], [], ['foo', 'buz'], ['buz']])
x

0    [foo, bar, buz]
1                 []
2         [foo, buz]
3              [buz]
dtype: object

In [13]:
boolean_df(x, u)

     foo    bar    buz
0   True   True   True
1  False  False  False
2   True  False   True
3  False  False   True

In [36]:
tags_df = boolean_df(tags, ActivitiesCatalog.TAGS)

In [37]:
tags_df.head()

   learn     do  career  green    red  personal  hobby
0   True  False    True   True  False     False  False
1   True  False    True   True  False     False  False
2   True  False   False   True  False     False   True
3   True  False   False  False  False      True  False
4  False   True    True   True  False     False  False

## Create Result Schema

In [42]:
from dashboard.load import PomodorosProcessed

df = pd.concat([pm.df, tags_df], axis=1)

In [45]:
df.head()

,Week,Date,Activity,Comment,Pomodoros,Planned,learn,do,career,green,red,personal,hobby
0,2,2021-01-06,Learn/System Design,None,2.0,4.0,True,False,True,True,False,False,False
1,2,2021-01-06,Learn/Golang,None,2.0,2.0,True,False,True,True,False,False,False
2,2,2021-01-06,Learn/Graph Algorithms,None,2.0,2.0,True,False,False,True,False,False,True
3,2,2021-01-06,Learn/Personal Development,None,1.0,1.0,True,False,False,False,False,True,False
4,2,2021-01-06,Do/Algorithms,None,NaN,2.0,False,True,True,True,False,False,False

In [46]:
result = PomodorosProcessed(df)

In [47]:
result.df.head()

,Week,Date,Activity,Comment,Pomodoros,Planned,learn,do,career,green,red,personal,hobby
0,2,2021-01-06,Learn/System Design,None,2.0,4.0,True,False,True,True,False,False,False
1,2,2021-01-06,Learn/Golang,None,2.0,2.0,True,False,True,True,False,False,False
2,2,2021-01-06,Learn/Graph Algorithms,None,2.0,2.0,True,False,False,True,False,False,True
3,2,2021-01-06,Learn/Personal Development,None,1.0,1.0,True,False,False,False,False,True,False
4,2,2021-01-06,Do/Algorithms,None,NaN,2.0,False,True,True,True,False,False,False