In [1]:
%cd ..
%pwd

/Users/areshytko/repos/temp/productivity-dashboard

'/Users/areshytko/repos/temp/productivity-dashboard'

In [2]:
from dashboard.load import load
import dashboard.config as config 
from dashboard.gheets import ManualFlow

import json

In [3]:
flow = ManualFlow()
url = flow.get_url()
with open('notebooks/url.json', 'w') as wf:
    json.dump(url, wf)

In [ ]:
flow.put_code("4/1AY0e-g4MF6Ybonk-Qai_7F8K31zJ4cSUYy72GE_S4V2gvoLyGgfHywr2iyE")

In [4]:
creds = flow.get_google_token()

In [5]:
data = load(
    credentials=creds,
    pomodoros_spreadsheet_id=config.POMODOROS_SPREADSHEET_ID,
    pomodoros_range=config.POMODOROS_RANGE,
    activities_spreadsheet_id=config.ACTIVITIES_SPREADSHEET_ID,
    activities_range=config.ACTIVITIES_RANGE
)

In [6]:
data.df.head()

,Week,Date,Activity,Comment,Pomodoros,Planned,learn,do,career,green,red,personal,hobby
0,2,2021-01-06,Learn/System Design,None,2.0,4.0,True,False,True,True,False,False,False
1,2,2021-01-06,Learn/Golang,None,2.0,2.0,True,False,True,True,False,False,False
2,2,2021-01-06,Learn/Graph Algorithms,None,2.0,2.0,True,False,False,True,False,False,True
3,2,2021-01-06,Learn/Personal Development,None,1.0,1.0,True,False,False,False,False,True,False
4,2,2021-01-06,Do/Algorithms,None,NaN,2.0,False,True,True,True,False,False,False